.wrap3_2 {
  position: relative;

  #ui {
    position: absolute;
    left: 1em;
    top: 1em;
  }
  #ui > div {
    font-size: 20pt;
    padding: 1em;
    display: inline-block;
    color: white;
    cursor: pointer;
  }
  #ui > div.selected {
    color: red;
  }
}
