:root {
  --blue-grad-1: linear-gradient(-225deg, #473b7b 0%, #3584a7 51%, #30d2be 100%);
}

.stack {
  position: relative;
  background: var(--blue-grad-1);

  .tool {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;

    .cursor {
      cursor: pointer;
    }
  }
}
