.case4_5_index {
  position: relative;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
  }

  .diagram {
    display: inline-block;
    width: 5em;
    height: 3em;
    border: 1px solid black;
  }

  .left {
    float: left;
    margin-right: 0.25em;
  }
  .right {
    float: right;
    margin-left: 0.25em;
  }

  *[data-diagram] {
    display: inline-block;
    width: 5em;
    height: 3em;
  }
}
